<nav>
    <ul>
      <li><a href="/gardening">Gardening</a></li>
      <li><a href="/painting">Painting</a></li>
      <li><a href="/coding">Coding</a></li>
      <li><a href="/gaming">Gaming</a></li>
    </ul>
  </nav>
  